@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css */
html, body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
  }
  
  button {
    cursor: pointer;
  }
  